<div>

  <h1> Reset password </h1>

  <p> Please Click <a href="{{resetLink}}" target="_blank">here</a> to reset your passowrd </p>

  <p> If above link won't work copy following link and paste it to browser to reset your password </p>

  <pre>{{resetLink}}</pre>

  <p> Note: This link will expires in 10 minutes </p>

</div>